/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.AssemblyInfoInputs.cache
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.assets.cache
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.csproj.CoreCompileInputs.cache
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.csproj.FileListAbsolute.txt
/Bootstrapper/eshop.Api/obj/eshop.Api.csproj.nuget.dgspec.json
/Bootstrapper/eshop.Api/obj/eshop.Api.csproj.nuget.g.props
/Bootstrapper/eshop.Api/obj/eshop.Api.csproj.nuget.g.targets
/Bootstrapper/eshop.Api/bin/Debug/net9.0/eshop.Api.deps.json
/Bootstrapper/eshop.Api/bin/Debug/net9.0/eshop.Api.dll
/Bootstrapper/eshop.Api/obj/Debug/net9.0/ref/eshop.Api.dll
/Bootstrapper/eshop.Api/obj/Debug/net9.0/refint/eshop.Api.dll
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.dll
/Bootstrapper/eshop.Api/bin/Debug/net9.0/eshop.Api.exe
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.GeneratedMSBuildEditorConfig.editorconfig
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.genruntimeconfig.cache
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.MvcApplicationPartsAssemblyInfo.cache
/Bootstrapper/eshop.Api/bin/Debug/net9.0/eshop.Api.pdb
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.pdb
/Bootstrapper/eshop.Api/bin/Debug/net9.0/eshop.Api.runtimeconfig.json
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.sourcelink.json
/Bootstrapper/eshop.Api/bin/Debug/net9.0/eshop.Api.staticwebassets.endpoints.json
/Bootstrapper/eshop.Api/obj/Debug/net9.0/staticwebassets/msbuild.build.eshop.Api.props
/Bootstrapper/eshop.Api/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.eshop.Api.props
/Bootstrapper/eshop.Api/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.eshop.Api.props
/Bootstrapper/eshop.Api/obj/project.assets.json
/Bootstrapper/eshop.Api/obj/project.nuget.cache
/Bootstrapper/eshop.Api/obj/project.packagespec.json
/Bootstrapper/eshop.Api/obj/rider.project.model.nuget.info
/Bootstrapper/eshop.Api/obj/rider.project.restore.info
/Bootstrapper/eshop.Api/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/Bootstrapper/eshop.Api/obj/Debug/net9.0/staticwebassets.build.json
/Bootstrapper/eshop.Api/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/.vs/eshop-modular-monoliths
/Bootstrapper/eshop.Api/bin/Debug/net9.0
/Bootstrapper/eshop.Api/obj/Debug/net9.0/apphost.exe
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.AssemblyInfo.cs
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.csproj.AssemblyReference.cache
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.csproj.Up2Date
/Bootstrapper/eshop.Api/obj/Debug/net9.0/eshop.Api.MvcApplicationPartsAssemblyInfo.cs
/Bootstrapper/eshop.Api/obj/Debug/net9.0/staticwebassets.removed.txt
/Modules/Basket/eshop.Basket/bin/Debug/net9.0
/Modules/Basket/eshop.Basket/obj
/Modules/Catalog/eshop.Catalog/bin/Debug/net9.0
/Modules/Catalog/eshop.Catalog/obj
/Modules/Ordering/eshop.Ordering/bin/Debug/net9.0
/Modules/Ordering/eshop.Ordering/obj
/Shared/eshop.Shared/bin/Debug/net9.0
/Shared/eshop.Shared/obj
*.htm
/obj
/Bootstrapper/eshop.Api/obj/Container
/bin/Debug
/.vs/ProjectEvaluation
/Bootstrapper/eshop.Api/bin/Debug/net9.0/appsettings.Development.json
/Bootstrapper/eshop.Api/obj/Debug/net9.0
